# Dependências
backend/node_modules/
frontend/node_modules/

# Banco de dados
backend/unimap.db
*.db
*.sqlite
*.sqlite3

# Logs
*.log
npm-debug.log*

# Ambiente
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db